ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 5px dotted black;
    display: flex;
    flex-direction: row;
    /* flex-wrap should remove for stretch ad shrink flex ratio*/
    justify-content: center;
    height: 200px;
    align-items: center;
}

li {
    border: 2px solid green;
    margin: 1%;
    padding: 1%;
}

/* order gives priority which should display first */
.flex1 {
    order: 1;
    border: 2px dotted red;
    flex: 1 1 10em;
}

.flex2 {
    order: 2;
    border: 2px dotted blue;
    flex: 2 2 10em;
}