body {
    color: red;
}

.title {
    font-size: 6em;
}

.subTitle {
    font-size: 4em;
}
/* media is used for website having more then one mode like in pc and phone (media is used to adjust)*/
@media (min-width: 500px) and (max-width: 1000px) {
    body {
        color: yellow;
    }
}
/* we can use & as and and or as (,)*/
@media (orientation: landscape) , (max-width: 1000px) {
    .title {
        color: blue;
    }
}

@media (orientation: portrait) {
    .subTitle {
        color: black;
    }
}